
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(228, 228, 228);
    width: 100vw;
}

/* ---------------------Start of Header.js ----------------------- */

.header {
    height: 200px;
    background-image: url(https://pikwizard.com/photos/architecture-buildings-chicago-city--52c3d0e7459b951d81ecd25ff9420335-m.jpg);
    background-size: cover;
    background-position: 0px 530px;
    position: relative;
}
.header h1 {
    color: rgb(240, 239, 238);
    font-size: 2em;
    position: absolute;
    right: 13px;
    bottom: 0;
    width: 100%;
}

/* ---------------------Start of News.js ----------------------- */

.news {
    
    /* border: solid rgb(250, 250, 250) 2em; */
    margin-top: 5px;
    text-align: center;
}
.news h1 {
    margin: 20px 0px 32px 0px;
    
}



/* ---------------------Start of Search Bar in News.js ------------------ */

.searchtap {
    width: 50%;
    margin: 0px auto;
    
}
.searchtap h3 {
    margin-right: 15px;
    font-size: 1.8em;
}
.form {
    margin-bottom: 27px;
}
  
.searchbtn {
    margin-left: 10px;
    margin-top: 12px;
    margin-right: 15px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: .6;
    background-color: rgb(232, 231, 230);
    color: rgb(20, 155, 244);
}
.submitInput {
    border: none;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(232, 231, 230);
}
.switchbluebtn {
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(244, 245, 245);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,6,70,1) 24%, rgba(0,212,255,1) 100%);
}
.switchgreenbtn {
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(244, 245, 245);
    background: rgb(32,199,196);
    background: linear-gradient(90deg, rgba(32,199,196,1) 37%, rgba(139,237,140,1) 82%);
}

/* ---------------------Start of news template in News.js ---------------- */


.news-template {
    display: inline-block;
    background-color: aliceblue;
    margin-bottom: 55px;
    border-radius: 35px;
    max-width: 1165px;
    margin: 35px auto;
}
.news-template p {
    width: 100%;
    object-fit: contain;
    margin: 30px auto;
    font-size: 1.2em;
    text-align: left;
    padding-bottom: 50px;
}
.news-template h1 {
    width: 100%;
    object-fit: contain;
    margin: 0 auto 30px auto;
    text-align: left;
    padding: 45px 0 25px 0;
}
.news-template img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* --------------------- Start of Topgainer.js ---------------------- */
.showgainer {
    width: 50%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 40px auto;
    
}

/* ---------------------Start of Closeprice.js ---------------------- */
.closeprice {
    margin-top: 70px;
}




/* --------------------- Stocklist hardcode ---------------------- */
.green {
    color: rgb(13, 179, 13);
    
}
.red {
    color: red;
}

/* ---------------------Start of Error.js ---------------------- */

.error {
    text-align: center;
    padding: 70px 70px;
    background-color: black;
    color: aliceblue;
    
}

.error p {
    margin-top: 30px;
}

/* ------------ Respondsive design ------------- */

@media(max-width: 909px){

    .header {
        height: 120px;
        background-position: 0px 200px;
    }
    .searchtap {
        display: grid;
        grid-template-columns: auto;
        
        gap: 15px;   
    }
    .searchbtn {
        margin-top: 0;
    }
    .news-template {
        max-width: 700px;
    }
    .news-template h1 {
        font-size: 1.5em;
    }
    .showgainer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
}
@media(max-width: 600px){

    .header {
        height: 80px;
        background-position: 0px 170px;
    }
    .header h1 {
        font-size: 1.1em;
        right: 5px;
    }
    .searchbtn {
        margin-top: 0;
    }
    .news-template {
        max-width: 85%;
    }
    .showgainer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    
}